<div class="container text-center">
<h1>About Page</h1>
<p>This software is a simple, intuitive Blood Bank Management System.
It focuses on security with ease-of-use.
Contact AbhineetD for support.
</p>
</div>