<div class="home-callout text-center container-fluid">
  <h1>Welcome to the Blood Bank Management System</h1>
  <h3>A simple, intuitive system to manage your Blood Bank!</h3>
</div>
<div class="container home-signup-links">
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Log In, BloodBank Employee</h2>
        <%= link_to "Log In", new_user_session_path, class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Sign Up, BloodBank Employee</h2>
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success btn-lg btn-block' %>
      </div>
    </div>
  </div>
</div>